{# templates/calendrier/afficher_calendrier.html.twig #}
{% extends 'base.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
    {{ encore_entry_link_tags('calendrier') }}
    {# Incluez ici d'autres liens vers des fichiers CSS si nécessaire #}
    <link rel="stylesheet" href="{{ asset('build/calendrier.bcaddb75.css') }}">
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    {{ encore_entry_script_tags('calendrier') }}
    {# Incluez ici d'autres scripts JavaScript si nécessaire #}

    <script>
        document.addEventListener("DOMContentLoaded", function () {
            var calendarEl = document.getElementById("calendrier"); // Sélectionnez le conteneur du calendrier
            var calendar = new FullCalendar.Calendar(calendarEl, {
                initialView: "dayGridMonth",
                initialDate: new Date(),
                // Autres options du calendrier...
            });
            calendar.render(); // Afficher le calendrier
        });
    </script>

{% endblock %}

{% block body %}
    <div id="calendrier" class="calendar">
        <!-- Le calendrier s'affichera ici -->
    </div>
{% endblock %}
