{# templates/calendrier/afficher_calendrier.html.twig #}
{% extends 'base.html.twig' %}

{% block stylesheets %}
	{{ parent() }}
	{# {{ encore_entry_link_tags('calendrier') }} #}
	<link rel="stylesheet" href="{{ asset('assets/styles/app.css') }}">
{% endblock %}

{% block javascripts %}
	{{ parent() }}
	{{ encore_entry_script_tags('calendrier') }}

{% endblock %}

{% block body %}

	<div id="calendrier" data-calendrier="{{ evenementsJSON }}" class="calendrier">
		<!-- test -->
	</div>

{% endblock %}
