{# templates/calendar/calendar.html.twig #}
{% extends 'base.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
    {{ encore_entry_link_tags('calendrier') }}
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    {{ encore_entry_script_tags('calendrier') }}
{% endblock %}

{% block title %}Calendrier des kinés{% endblock %}

{% block body %}
    <div id="calendrier" data-calendrier="{{ evenementsJSON }}" class="calendar">
    </div>
    <div id="calendar-container">
        <h2>Calendrier des kinésithérapeutes</h2>
        <!-- calendrier -->
    </div>

    <div id="selection-form" style="display: none;">
        <h2>Choisissez un kiné :</h2>
        <select id="kine-selector">
            <option value="all">Tous les kinés</option>
            {% for kine in kines %}
                <option value="{{ kine.id }}">{{ kine.nom }} {{ kine.prenom }}</option>
            {% endfor %}
        </select>


            <label for="heure">Sélectionnez une date :</label>
                <select id="heure" name="heure">
                    {% for heure in heures %}
                        <option value="{{ heure }}">{{ heure }}</option>
                    {% endfor %}
                </select>
    <h2>Prise de rendez-vous :</h2>
	<form method="POST" action="{{ path('create_rendezvous') }}">
        <label for="dateRDV">Sélectionnez une date :</label>
        <select id="dateRDV" name="dateRDV">
            {% for date in dates %}
                <option value="{{ date }}">{{ date }}</option>
            {% endfor %}
        </select>
    
    <label for="heure">Sélectionnez une heure :</label>
        <select id="heure" name="heure">
            {% for heure in heures %}
                <option value="{{ heure }}">{{ heure }}</option>
            {% endfor %}
        </select>

        <button type="submit">Prendre rendez-vous</button>
    </form>

    <h2>Dates disponibles :</h2>
    {% for date in dates %}
        <div class="dateRDV" data-date="{{ dateRDV }}">{{ date }}</div>
    {% endfor %}

    <h2>Heures disponibles :</h2>
    {% for heure in heures %}
        <div class="heure" data-heure="{{ heure }}">{{ heure }}</div>
    {% endfor %}

    <script>
        function openModal() {
            $('#myModal').addClass('modal-open');

        }

        $('.date').on('click', function() {
            var selectedDate = $(this).data('dateRDV');
        });

        $('.heure').on('click', function() {
        var selectedHeure = $(this).data('heure');
        });
    </script>

{% endblock %}
